// secrets.h example

// WiFi Configuration
const char* SECRET_SSID = "<SSID>";
const char* SECRET_PASS = "<PASSWORD>";

// MQTT Secure Configuration (Port 8883)
const char* SECRET_MQTT_BROKER = "<IP_ADDRESS>";
const int   SECRET_MQTT_PORT = 8883; 
const char* SECRET_MQTT_USER = "<MQTT_USERNAME>";
const char* SECRET_MQTT_PASS = "<MQTT_PASSWORD>";

// Topic Definitions (According to your Technical Guide draft) [4]
const char* DATA_TOPIC = "<DATA_TOPIC>";
const char* STATUS_TOPIC = "<STATUS_TOPIC>";


// CA Certificate (ca.crt) - Used to validate broker identity
const char* SECRET_CA_CERT = \
"-----BEGIN CERTIFICATE-----\n" \
"MII...\n" \
"BQA...\n" \
"....\n" \
"....\n" \
"-----END CERTIFICATE-----\n";
