# Listener for TLS (encrypted)
listener 8883
cafile <path>/ca.crt
certfile <path>/server.crt
keyfile <path>/server.key

# Disable anonymous access
allow_anonymous false

# Password and ACL file locations (relative paths)
password_file <path>/passwd
acl_file <path>/acl
